.form {
    width: 650px;
    margin: 0 auto;
}

.confirm__title {
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
    color: #8B7969;
    font-family: serif;
}

.confirm-table{
    width: 100%;
}

.confirm-table__inner{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.confirm-table__row{
    height: 40px;
}

.confirm-table__header,
.confirm-table__text{
    padding: 15px 30px;
    font-size: 14px;
    text-align: left;
}

.confirm-table__header{
    background-color: #baa899;
    color: white;
    border: 1px solid #ddd;
    width: 200px;
}

.confirm-table__text{
    border: 1px solid #baa899;
}


.form__button-fix{
    background-color: transparent;
    border: none;
    outline: none;
    color: #8B7969;
    text-decoration: underline;
}

.form__button{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 30px 0;
}

.confirm-table__text--detail{
    height: 90px;
}
